<footer id="colophon">
    <div class="container-fluid container-max-width sitemap">
        <div class="row">
            <ul class="list-unstyled col-sm-2 small">
                <li><h4>Company</h4></li>
                <li><a href="//cpanel.com/company/" title="About Us">About Us</a></li>
                <li><a href="//cpanel.com/company/#leadership" title="Our Leadership">Our Leadership</a></li>
                <li><a href="//cpanel.com/company/#givingback" title="Giving Back">Giving Back</a></li>
                <li><a href="//cpanel.com/company/#contact" title="Contact">Contact</a></li>
                <li><a href="//cpanel.com/partners/" title="Become a Partner">Become a Partner</a></li>
                <li><a href="//jobs.cpanel.com" title="Careers" target="_blank">Careers</a></li>
            </ul>
            <ul class="list-unstyled col-sm-2 small">
                <li><h4>Products</h4></li>
                <li><a href="//cpanel.com/products/#cpanel" title="cPanel Features">cPanel Features</a></li>
                <li><a href="//cpanel.com/products/#whm" title="WHM Features">WHM Features</a></li>
                <li><a href="//cpanel.com/products/#cloudlinux" title="CloudLinux Features">CloudLinux Features</a></li>
                <li><a href="//cpanel.com/demo/" title="cPanel & WHM Demo">cPanel & WHM Demo</a></li>
                <li><a href="//cpanel.com/trial/" title="cPanel & WHM Trial">cPanel & WHM Trial</a></li>
                <li><a href="//cpanel.com/pricing/" title="Plans & Pricing">Plans & Pricing</a></li>
            </ul>
            <ul class="list-unstyled col-sm-2 small">
                <li><h4>Support</h4></li>
                <li><a href="//cpanel.com/support/" title="Documentation Search">Documentation Search</a></li>
                <li><a href="//cpanel.com/support/#crowd-sourced-solutions" title="Crowd-Sourced Solutions">Crowd-Sourced Solutions</a></li>
                <li><a href="//tickets.cpanel.net/submit/" title="Technical Support" target="_blank">Technical Support</a></li>
            </ul>
            <ul class="list-unstyled col-sm-6 small">
                <li><h4>Resources</h4>
                    <div class="row">
                        <ul class="list-unstyled col-sm-4">
                            <li><a href="//documentation.cpanel.net/" title="Documentation" target="_blank">Documentation</a></li>
                            <li><a href="//documentation.cpanel.net/display/CKB/cPanel+Knowledge+Base" title="Knowledge Base" target="_blank">Knowledge Base</a></li>
                            <li><a href="//releases.cpanel.com" title="Releases" target="_blank">Releases</a></li>
                            <li><a href="//security.cpanel.net/" title="Security TSRs & CVEs" target="_blank">Security TSRs & CVEs</a></li>
                            <li><a href="//verify.cpanel.net/" title="License Verification" target="_blank">License Verification</a></li>
                        </ul>
                        <ul class="list-unstyled col-sm-4">
                            <li><a href="//forums.cpanel.net/" title="Forums" target="_blank">Forums</a></li>
                            <li><a href="//news.cpanel.com/" title="News">News</a></li>
                            <li><a href="//blog.cpanel.com/" title="Blog">Blog</a></li>
                            <li><a href="//partnernoc.cpanel.net/" title="Partner NOC Directory" target="_blank">Partner NOC Directory</a></li>
                            <li><a href="//features.cpanel.net/" title="Feature Requests" target="_blank">Feature Requests</a></li>
                        </ul>
                        <ul class="list-unstyled col-sm-4">
                            <li><a href="//applications.cpanel.com" title="Application Catalog" target="_blank">Application Catalog</a></li>
                            <li><a href="//university.cpanel.net" title="cPU Certification" target="_blank">cPU Certification</a></li>
                            <li><a href="//conference.cpanel.com" title="Conference" target="_blank">cPanel Conference</a></li>
                            <li><a href="//cpanel.com/cpanel-brand-guide/" title="cPanel Brand Guide">cPanel Brand Guide</a></li>
                            <li class="hidden"><a href="/assets/downloads/cPanel-brand-guide.pdf" title="Brand Guide" target="_blank">cPanel Brand Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid mailing-list-footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <p class="col-sm-12 col-md-10 col-lg-8 lead">Be the first to know about software releases and important cPanel news</p>
                </div>
            </div>
            <div class="col-sm-6">
                <a href="/mailing-list/" title="Join Mailing List" onClick="ga('send', 'event', 'button', 'click', 'footer join mailing list');" class="cta-join">Join Mailing List</a>
            </div>
        </div>
    </div>

    <div class="container-fluid container-max-width misc">
        <div class="row">
            <a href="{{ site.baseurl }}/"  onClick="ga('send', 'event', 'link', 'click', 'logo home bottom');" title="{{ site.footer.copyright }}" class="col-sm-2 center-block cPanel-logo"><img src="/assets/img/cPanel-logo.png" title="{{ site.footer.copyright }}"/></a>
            <div class="col-sm-7 legal"><p class="small">&copy; <script>document.write((new Date()).getFullYear())</script> All Rights Reserved / <a href="//cpanel.com/legal-notices.html" title="Legal Notices">Legal Notices</a> / <a href="//cpanel.com/privacy-policy.html" title="Privacy Policy">Privacy Policy</a> / <a href="//cpanel.com/transparency-report.html" title="Transparency Report">Transparency Report</a></p></div>
            <div class="col-sm-3 social">
                <div class="row">
                    <a href="//www.facebook.com/cpanel" class="col-sm-3 fb" target="_blank" onClick="ga('send', 'event', 'button', 'click', 'footer facebook');" title="facebook"><img src="/assets/img/fb.png" title="facebook" /></a>
                    <a href="//twitter.com/cpanel" class="col-sm-3 tw" target="_blank" onClick="ga('send', 'event', 'button', 'click', 'footer twitter');" title="twitter"><img src="/assets/img/tw.png" title="twitter" /></a>
                    <a href="//www.linkedin.com/company/cpanel" class="col-sm-3 in" target="_blank" onClick="ga('send', 'event', 'button', 'click', 'footer linkedin');" title="linkedin"><img src="/assets/img/in.png" title="linkedin" /></a>
                    <a href="//www.youtube.com/user/cpaneltv" class="col-sm-3 yt" onClick="ga('send', 'event', 'button', 'click', 'footer youtube');" target="_blank" title="youtube"><img src="/assets/img/yt.png" title="youtube" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid trademark">
        <div class="row">
            <div class="col-sm-12 text-center">
                <small>cPanel, WebHost Manager and WHM are registered trademarks of cPanel, Inc. for providing its computer software that facilitates the management and configuration of Internet web servers.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <br>  <img src="/assets/img/powered-by-cPanel&WHM.png" alt="Powered by cPanel & WHM">
            </div>
        </div>
    </div>
</footer>



<!-- Google Analytics | Universal cPanel.com | (cPanel.com, cPanel Store) -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27582338-28"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag()
{dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-27582338-28');
</script>

