<nav class="site-header navbar navbar-default" role="navigation">

    <div class="container-fluid container-max-width">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" onClick="ga('send', 'event', 'link', 'click', 'logo home top');" href="{{ site.baseurl }}/"><img src="/assets/img/cP-logo.png" alt="cP" /></a>
    </div>

    {% include nav-custom.html %} 

    </div>

</nav>
